<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @player.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @player.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Provider email:</b>
  <%= @player.provider_email %>
</p>

<p>
  <b>Oauth token:</b>
  <%= @player.oauth_token %>
</p>

<p>
  <b>Oauth secret:</b>
  <%= @player.oauth_secret %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
